<div ...attributes data-test-create-casual-game class="create-casual-game">
    {{#with (changeset this.settings this.GameValidations) as |changeset|}}
        <SetupGameForm 
            @headline="Settings" 
            @buttonText="New Game" 
            @changeset={{changeset}} 
            @onSubmit={{perform this.createCasualGame}}
        >
            <SetupGameForm::PlayersSettings 
                @players={{@players}} 
                @changeset={{changeset}} 
                @update={{this.update}} 
            />

            <SetupGameForm::GameSettings @changeset={{changeset}} @update={{this.update}} />
        </SetupGameForm>
    {{/with}}
</div>