{{#with (changeset this.player this.PlayerValidations) as |changeset|}}
    <form ...attributes {{on 'submit' (perform this.createPlayer changeset)}} class="create-player-form">
        <div class="content {{if @createMode "create-mode"}}">
            {{#if @createMode}}
                <input 
                    data-test-nickname-input 
                    class="nickname-input" 
                    value={{changeset.nickname}} 
                    placeholder="Nickname"
                    {{on "change" (fn this.setNickname changeset)}} 
                />
                <button 
                    data-test-submit-button 
                    class="submit-button" 
                    type="submit"
                >
                    {{md-icon "person_add"}}
                </button>
            {{else}}
                <button 
                    data-test-switch-button 
                    class="switch-button" 
                    type="button" 
                    {{on "click" @switchMode}}
                >
                    Add player
                </button>
            {{/if}}
        </div>
        
        {{#if @createMode}}
            <ValidationErrors @errors={{changeset.errors}} @key="nickname" />
        {{/if}}
    </form>
{{/with}}