<form ...attributes {{on 'submit' this.createPlayer}} class="create-player-form">
    {{#if @createMode}}
        <input 
            data-test-nickname-input 
            class="nickname-input" 
            value={{this.nickname}} 
            placeholder="Nickname"
            {{on "change" this.setNickname}} 
        />
        <button 
            data-test-submit-button class="submit-button" type="submit">{{md-icon "person_add"}}</button>
    {{else}}
        <button 
            data-test-switch-button 
            class="switch-button" 
            type="button" 
            {{on "click" @switchMode}}
        >
            Add player
        </button>
    {{/if}}
</form>