<div ...attributes data-test-players-settings class="players-settings">
    <SetupGameForm::Option 
        data-test-player1-option 
        @errors={{@changeset.errors}} 
        @key="player1"
    >
        <PowerSelect 
            @options={{@players}} 
            @selected={{@changeset.player1}} 
            @placeholder="Player 1"
            @onChange={{perform this.updatePlayer @changeset "player1" @update}} 
            as |player|
        >
            {{player.nickname}}
        </PowerSelect>
    </SetupGameForm::Option>
    
    <span data-test-vs-span class="vs-span">VS</span>
    
    <SetupGameForm::Option data-test-player2-option @errors={{@changeset.errors}} @key="player2">
        <PowerSelect 
            @options={{@players}} 
            @selected={{@changeset.player2}} 
            @placeholder="Player 2"
            @onChange={{perform this.updatePlayer @changeset "player2" @update}} 
            as |player|
        >
            {{player.nickname}}
        </PowerSelect>
    </SetupGameForm::Option>
</div>