{{page-title "Statistics"}}

<PageLayout @title={{this.model.nickname}}>
    <h3>Games Won: {{this.model.gamesWon.length}}</h3>
    <h3>Games Played: {{this.model.gamesPlayed.length}}</h3>
    <h3>Win ratio: {{this.model.gamesWon.length}}/{{this.model.gamesPlayed.length}}</h3>
</PageLayout>